html{
    font-size: 100%;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    color: $black;
    background-color: $body-color;
    font-family: 'Cuprum', sans-serif ;
    height: 100%;
    // display: flex;
}
*,*::before,*::after{
    box-sizing: inherit;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
   
    &:hover{
        text-decoration: none;
    }
    &:visited{
        color: $white;
    }
}

button{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif ;
}
.back__head{
    height: 42px;
    width: 1200px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    background-color: $head-color;
    z-index: -3;
}
.mid{
    height: 315px;
    background-color: #F3F7F8;
    top: 42px;
}
.main__container{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    // padding: 0 130px;
    width: 1200px;
    // z-index: -2;
}

.mycontainer{
    width: 1200px;
    margin: 0 auto;
    
    background-color: $white;
    // left: 50%;
    // transform: translate(-50%);
    // position: absolute;
    // margin-top: 60px;
    // background-color: $white;
   
}
.ht__container{
    padding: 0 130px;
    background-color:$head-color;
}

.hb__container{
    padding: 0 130px;
    background-color:#F3F7F8;
    padding-bottom: 60px;
}


.ft__container{
    padding: 0 130px;
    background-color:$head-bottom;
}
.fb__container{
    padding: 0 130px;
    background-color:$head-color;
}