//colors
$body-color: #E4E4E4;
$head-color: #293449;
$darl-head-color: #212A3A;
$clicked-head-color: #161D29;
$head-title: #EE3643;
// $head-button: #63A63E;
$head-button: #5FBB2D;
$head-bottom: #32425C;


// main category

$materials :#FFBF47;
$tools: #3BBCE3;
$equipment: #DC91D8;
$discount :#8ED78F; 
$delivery: #FFC047;

$main-title: #F9F5F0;
$main-button: #EE3643;

$black: #000000;
$white: #ffffff;


//fonts 

$average: 17px;
$average-minus: 16px;
$tel-font: 21px;
$address-font: 14px;
$avarage-plus: 24px;
$large: 30px;
$service-font: 13px;
$extra-large: 36px;